{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'blog/head.html/' %}

<body id="page-top">
  {% include 'blog/nav.html/' %}

  <div class="container-fluid p-0 ml-6">  
  	<!-- blog  -->
    {% block blogs %}
    {% endblock %}
   </div>

   <!-- blog_page content -->
{%block content%}
{% endblock %}

<!-- about page  -->
{% block about%}
{% endblock %}

{% include 'blog/script.html/' %}

  <script type="text/javascript">
          document.addEventListener('DOMContentLoaded', (event) => {
		  document.querySelectorAll('pre code').forEach((block) => {
		    hljs.highlightBlock(block);
		  });
		});
  </script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="{% static '/blog/waypoint/infinite.min.js' %}"></script>
  <script src="{% static '/blog/waypoint/jquery.waypoints.js' %}"></script>

</body>
</html>
