{% extends 'blog/base.html' %}
{% load static %}

  <div class="container-fluid p-0 ml-6">    
    <hr class="m-0">    
    
    <!--blogs content -->

    <section class="resume-section ml-4 p-3 p-lg-5 d-flex align-items-center" id="blogs">
      <div class="w-100">
        <div class="blog w-75  mb-5">
          <span>#PROGRAMMING</span>
          <h2 style="font-size:45px;">How I become a Full Stack Developer in One year</h2>
          <span style="font-size:14px;" class="mb-4">By Kisan Tamang , &nbsp;&nbsp;5 Feb 2020 &nbsp;14 min read</span>
          <span><img src="img/img2.jpg" class="w-100 mb-5 mt-4"></span>

          <p class="blog_content mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam obcaecati . Voluptatem cumque ipsam dolorem volu,ptatum!
          </p>

          <p class="blog_content mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquame ut. Voluptatem cumque ipsam dolorem volu,ptatum!
          </p>

          <pre><code class="language-python">
            def hello(a,b):
              return a + b
          }
          </code></pre>

          <p class="blog_content mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam obcaecati delectus similique, nihil odit sed placeat amet, perspiciatis dolore praesentium doloremque ut. Voluptatem cumque ipsam dolorem volu,ptatum!
          </p>

          <p class="blog_content mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam obcaecati delectus similique, nihil odit sed placeat amet, perspiciatis dolore praesentium doloremque ut. Voluptatem cumque ipsam dolorem volu,ptatum!
          </p>

          <pre><code class="language-python">
            def hello():
              print("hello world")

            class Person(a,b):
              def __init__:
                self.a = a
                self.b = b
                retrun a+b

            x = Person(20,30)
            print(x)
          </code></pre>

          <p class="blog_content mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam obcaecati delectus similique, nihil odit sed placeat amet, perspiciatis dolore 
          </p>

        <!-- share on social section -->

        <div class="social-icons mb-5 mt-5">
          <span class="mb-5 pb-5"><i>Share this on!</i></span><br>
          <a href="https://www.linkedin.com/in/kisantamang/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          
          <a href="https://twitter.com/kisanpakhreen" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/kisan.pakhrin.7" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>

        <!-- featured reading section -->

        <footer class="featured">
          <h3 class="mb-3"><u>Featured Reading</u></h3>
          <div class="mb-4">
            <a href=""><h4>Basic Python concepts explained</h4></a> 
            <p class="50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam ob dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam ob
            </p>
          </div>
          <div class="mb-4">
            <a href=""><h4>Top 3 Programming Languages in 2020</h4></a> 
            <p class="50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam ob dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam ob
            </p>
          </div>
          <div class="mb-4">
            <a href=""><h4>5G explained in Simple Way!</h4></a> 
            <p class="50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam ob dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam ob
            </p>
          </div>
        </footer>
        </div>
      </div>
</section>
  </div>