{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

  <div class="container-fluid p-0 ml-6">    
    <hr class="m-0">    
    
    <!--blogs content -->

    <section class="resume-section ml-4 p-3 p-lg-5 d-flex" id="blogs">
      <div class="w-100">
        <div class="blog w-75  mb-5">
          <span style="font-size: 15px;">#{{post.category}}</span>
					<h2 style="font-size:45px;">{{post.title}}</h2>
					<span style="font-size:14px;" class="mb-4">{{post.author}},
							&nbsp;&nbsp;{{post.created_at| date:"d M, Y"}} &nbsp;{{post.read_time}} min read</span>
          <span><img src="{% static 'blog/img/coding-banner.jpeg' %}" class="w-100 mb-5 mt-4"></span>

					<p class="blog_content mb-4">
            {{post.content}}
          </p>


          <img src="{% static 'blog/img/js-framework.png' %}" class="w-100 mb-5 mt-4">

<pre>
<code class="java">
import java.util.Scanner;

  class OddOrEven
  {
    public static void main(String args[])
    {
      int x;
      System.out.println("Enter an integer to check if it's odd or even");
      Scanner in = new Scanner(System.in);
      x = in.nextInt();

      if (x % 2 == 0)
        System.out.println("The number is even.");
      else
        System.out.println("The number is odd.");
    }
  }
</code>
</pre>

<pre>
  <code class="js">
    document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('pre code').forEach((block) => {
      hljs.highlightBlock(block);
    });
    });
  </code>
</pre>


      
        <!-- share on social section -->
        <div class="social-icons mb-5 mt-5">
          <span class="mb-5 pb-5"><i>Share this on!</i></span><br>
          <a href="https://www.linkedin.com/in/kisantamang/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          
          <a href="https://twitter.com/kisanpakhreen" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/kisan.pakhrin.7" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>


        <!-- featured reading section -->
        <footer class="featured">
          <h3 class="mb-3"><u>Featured Reading</u></h3>
          <div class="mb-4">
            <a href=""><h4>Basic Python concepts explained</h4></a> 
            <p class="50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam ob dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam ob
            </p>
          </div>
          <div class="mb-4">
            <a href=""><h4>Top 3 Programming Languages in 2020</h4></a> 
            <p class="50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam ob dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam ob
            </p>
          </div>
          <div class="mb-4">
            <a href=""><h4>5G explained in Simple Way!</h4></a> 
            <p class="50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam ob dolor sit amet, consectetur adipisicing elit. Molestias labore beatae aliquam ob
            </p>
          </div>
        </footer>
        </div>
      </div>
</section>
  </div>
  {% endblock content %}
