{% extends 'blog/base.html' %}
{% block contact %}
{% load static %}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="contact">
  <div class="w-75">
    <h2 class="mb-5">CONTACT</h2>
    <h4 class="mb-5"><i class="fa fa-map-marker" aria-hidden="true"></i> Boudha Kathmandu Nepal<br><br><i class="fa fa-envelope"></i> <a href="mailto:kisn.codes@gmail.com" style="color:#000;"> kisan.codes@gmail.com</a> <br><br><i class="fa fa-phone"></i> (+977) 980-381-1367</h4>
    <p>You may connect with me via!</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/kisantamang/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/kisan101" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/kisanpakhreen" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.facebook.com/kisan.pakhrin.7" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/kisanpakhreen/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCMmjR-PArrgNfOSh3g74JvA?view_as=subscriber" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</section>
  {% endblock contact %}